body {
    background-color: cornflowerblue;
}

.container {

    margin-top: 150px;
    margin-left: 250px;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: burlywood;


}

input {
    width: 220px;
    padding: 4px;
    height: 30px;
    border: none;
    outline-color: rgb(126, 16, 194);

}

.container h1 {
    margin-left: 90px;
    color: brown;
    margin-bottom: 15px;
}

label {
    width: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 8px;
    background-color: blue;
}

#btn1 {
    padding: 8px;
    background-color: blue;
    border: none;
    height: 40px;
    font-weight: 700;
    cursor: pointer;

}

li {
    line-height: 40px;

}